<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Listing verified</title>
</head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/user/login.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="/scripts/cart.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
<link rel="stylesheet" href="/css/user/productListingVerified.css">



<body>
    <!-- Nav bar -->
    <%-include("./partials/nav-after-login.ejs")%>



        <div class=" search-nav" style="    margin-bottom: 23px;margin-top: 15px;">
            <button id="filterButton" style="width: 101px; border: 0; border-radius: 5px;">Filter</button>

            <div class="search-bars">

                <input type="text" class="form-control rounded-pill shadow-none" 
                    placeholder="Search...">
                <div class="search-icon" style="color: #4461F2;">
                    <i class="fas fa-search"></i>
                </div>
            </div>
        </div>
        <div class="main-contaner">
            <div class="filter-div" >
                <button onclick="clearfilter()"  style=" background-color: rgb(78, 140, 255); color: aliceblue; width: 101px; border: 0; border-radius: 5px;margin-bottom: 10px;font-size: medium;">Clear Filter</button>
                <h6 style=" font-weight: 600;">Select Category for Filter</h6>
                <div class="categorycontainer" style=" height: 36vh; overflow:auto;">
                    <%categoryData.forEach((data)=>{%>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="<%=data._id%>" name="category">
                            <label class="form-check-label" for="flexCheckDefault">
                                <%=data.name%>
                            </label>
                        </div>
                        <%})%>
                </div>
                <h6 style="font-weight: 600;margin-top: 30px;">Sort By Price</h6>
                <div>
                    <label>
                        <input type="radio" id="highToLow" name="sorting" value="highToLow">
                        High to Low
                    </label>

                    <label>
                        <input type="radio" id="lowToHigh" name="sorting" value="lowToHigh">
                        Low to High
                    </label>
                </div>

            </div>
            <!-- <div class="card-divv"> -->
            <div class="container-fluid card-container" id="card_parent">
                

            </div>

            <div style="width: 100%; height: auto;display: flex;justify-content: center;">
                <div class="pagination_div">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <% for (let i = 1; i <= Math.ceil(dataCount / 8); i++) { %>
                                <li class="page-item <%= i === i ? 'active' : '' %>">
                                    <a class="page-link" href="#" onclick="updateProductList(i)"><%= i %></a>
                                </li>
                            <% } %>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

        <%-include("./partials/footer.ejs")%>

            <script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.min.js"></script>
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
            <!-- //   fetch to add to wishlist---------------------------------------->
            <script>
                function addtowishlist(event, productId) {
                    event.stopPropagation();
                    const addtowishlist = fetch('/addtowishlist', {
                        method: "POST",
                        headers: { "Content-Type": "application/json" },
                        body: JSON.stringify({ productId })
                    })
                        .then(response => response.json())
                        .then(res => {
                            if (res.success) {
                                (function () {
                                    Toastify({
                                        text: res.message,
                                        duration: 2000,
                                        newWindow: true,
                                        close: true,
                                        gravity: "to",
                                        position: "center",
                                        stopOnFocus: true,
                                        style: {
                                            background: "#52b963",
                                            borderRadius: "8px"

                                        },
                                        onClick: function () { }
                                    }).showToast();
                                })();
                            } else {
                                (function () {
                                    Toastify({
                                        text: res.message,
                                        duration: 2000,
                                        newWindow: true,
                                        close: true,
                                        gravity: "to",
                                        position: "center",
                                        stopOnFocus: true,
                                        style: {
                                            background: "#FF0000",
                                            borderRadius: "8px"

                                        },
                                        onClick: function () { }
                                    }).showToast();
                                })();
                            }

                        })
                }



            </script>


<script>
    document.addEventListener('DOMContentLoaded', function () {
      const filterCheckboxes = document.querySelectorAll("input[name=category]");
      const sortingRadios = document.querySelectorAll("input[name=sorting]");
      const searchInput = document.querySelector(".form-control");
      const currentPage = 1; 

      filterCheckboxes.forEach((checkbox) => {
        checkbox.addEventListener('change', updateProductList);
      });
  
      sortingRadios.forEach((radio) => {
        radio.addEventListener('change', updateProductList);
      });
  
      searchInput.addEventListener('input', updateProductList);
  
      updateProductList(currentPage);
    });
    
    function updateProductList(page) {
      const category = Array.from(document.querySelectorAll("input[name=category]:checked")).map((data) => data.value).join(",");
      const sorting = document.querySelector("input[name=sorting]:checked") ? document.querySelector("input[name=sorting]:checked").value : null;
      const search = document.querySelector(".form-control").value;
      const allproducts = []
    
    //   alert(category)h

      fetch("/productfiltering", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({
                category: category,
                search: search,
                sorting: sorting,
                page: page, 
            }),
          })
        .then(response => response.json())
        .then(res => {

            console.log(res.products);
                         const productdetails= res.products.forEach((product) => {

                                const card = `<div class="card-1 card-div" onclick="goDetail('/ProductDetailverified?id=${product._id}')" style="cursor: pointer;">
                                      <div class="like-icon-div" style="display: flex;justify-content: space-between;" >
                                          <div style="width: 60px; height:40px; z-index: 100;float: left;margin-bottom: -41px;display: flex; justify-content: center;align-items: center;">
                                              ${product.isOffer
                                        ? `<div style="display: flex; align-items: center;">
                                                      <img src="/assets/offerPersentage.png" alt="" style="width: 60px; background-position: center;background-size: cover;background-repeat: no-repeat;width: 88px;">
                                                      <h4 style="z-index: 1000;position: absolute;margin-top: 12px;margin-left: 23px;transform: rotate(-7deg);font-weight: 700;" >${product.DiscountPercentage}</h4 >
                                                  </div>`
                                        : ''
                                    }
                                          </div>
                                          <label for="card-1-like" class="like-icon-div-child">
                                              <input style="display: none;" type="checkbox" id="card-1-like">
                                              <button onclick="addtowishlist(event,'${product._id}')"
                                          style="border: none;background: transparent;"><i
                                        class="far fa-heart heart-empty"></i></button>
                                          </label>
                                      </div>
                                      <div class="gow-img-div img-div">
                                          <img style="width: 195px;" src="${product.Image[0]}" alt="god-of-war-figurine">
                                      </div>
                                      <div class="text-container">
                                          <h2 class="item-name">${product.Name}</h2>
                                          <div class="pricing-and-cart">
                                              <div class="pricing">
                                                  ${product.isOffer
                                        ? `<p class="previous-price" id="previousp">₹${product.Price}</p>`
                                        : `<div style="width: 115px; height: 42px; background-color: rgb(255, 255, 255);"></div>`
                                    }
                                                  <p class="current-price">₹${product.isOffer ? product.DiscountPrice : product.Price}/-</p>
                                              </div>
                                              <a onclick="addToCart(event,'${product._id}')" id="cart_icon"><i class="fas fa-shopping-cart"></i></a>
                                          </div>
                                      </div>
                                    </div>`;


                                allproducts.push(card)

 

                            })
                           
                            // alert(allproducts)
                            let data = allproducts.join("")
                            if (allproducts.length >= 1) {
                                console.log(data)
                                document.getElementById("card_parent").innerHTML = data;
                            } else {

                                console.log(data)
                                document.getElementById("card_parent").innerHTML = "Product Not Found";
                            }

                            const paginationDiv = document.querySelector(".pagination_div");
            paginationDiv.innerHTML = generatePagination(res.dataCount, page);
        })
        .catch(error => console.error('Error fetching product data:', error));
    }
    function generatePagination(dataCount, currentPage) {
        const totalPages = Math.ceil(dataCount / 8);
        let paginationHTML = `<nav aria-label="Page navigation example"><ul class="pagination">`;

        for (let i = 1; i <= totalPages; i++) {
            paginationHTML += `<li class="page-item ${i === currentPage ? 'active' : ''}">
                                <a class="page-link" href="#" onclick="updateProductList(${i})">${i}</a>
                            </li>`;
        }

        paginationHTML += `</ul></nav>`;
        return paginationHTML;
    }
</script>
           

            <script>


                document.addEventListener('DOMContentLoaded', function () {
                    const filterButton = document.getElementById('filterButton');
                    const filterDiv = document.querySelector('.filter-div');

                    filterButton.addEventListener('click', function () {
                        filterDiv.classList.toggle('show-filter');
                    });
                });

            </script>
            <script>
               function goDetail(link) {
                    window.location.href = link
                }
               function clearfilter() {
                    window.location.reload()
                }
            </script>
</body>

</html>